*.pyc
*.pyo
*.tmp
*.sqlite
*.log
*.swp
.DS_Store
.ropeproject
.#*
.project
.pydevproject
*.db
*.sqlite
settings_local.py
db.sqlite
.installed.cfg
*develop-eggs/
*.egg-info/
*eggs/
*parts/
*bin/
*downloads/
