[buildout]
parts =
    django
    django-fcgi
    django-gunicorn
    media

find-links =
    http://pypi.iqpp.de/

[media]
recipe = svetlyak40wt.recipe.symlinks
path = project/media
files =
    Django://django/contrib/admin/media admin
    django-lfs://lfs/static lfs
    django-lfstheme://lfstheme/static lfstheme
    django-lfc://lfc/static lfc
    lfc-theme://lfc_theme/static lfc_theme

[django-fcgi]
recipe = collective.recipe.template
port  = 8000
input = ${buildout:directory}/misc/conf/django-fcgi.sh.in
output = ${buildout:directory}/bin/django-fcgi.sh

[django-gunicorn]
recipe = collective.recipe.template
port  = 8000
workers = 4
input = ${buildout:directory}/misc/conf/django-gunicorn.sh.in
output = ${buildout:directory}/bin/django-gunicorn.sh

[django]
recipe = djangorecipe
version = 1.1.2
eggs =
    django-lfs == 0.5.0b6
    django-lfc == 1.0.2
    lfc_blog == 1.0
    Pillow
    gunicorn
project = project
settings=settings
extra-paths =
    ${buildout:directory}/parts
    ${buildout:directory}/project

urls = project/urls